apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: cilium
  namespace: kube-system
spec:
  interval: 1h
  url: oci://quay.io/cilium/charts
  ref:
    semver: ">=1.16.0"